
<nav class="navBar">
        <a class="navBtn f-right BGblack Twhite" href="/Create" >Create Entry</a>
        <a href="#" class="navBtn f-right" >Top</a>
        <div id="IDclock" class=" navBtn f-right"></div>
</nav>