
<%- include ( '../_xrefs/linkFunctions.ejs' ) %>
<%-  include( '../_xrefs/ExitToPublicBtn/ExitToPublicBtn.ejs' ) %> 

<section class="card cardFull" >
        <form method="POST" action='/'>
                <h2>Create Entry</h2>
                <%- include( './fields.ejs' ) %> 
        </form>
</section>