
<label for="title">Title</label><input type="text" name="title" id="title" maxlength="55"  required  value="<%= note.title %> "  >
<label for="summary">Summary</label><textarea name="summary" id="summary" maxlength="200" required ><%= note.summary %></textarea>
<label for="description">Description</label><textarea name="description" id="description" required class="height400" ><%= note.description %></textarea>
<button type="submit" class="btn btnBig BGgreen">Save</button>