<section  id="IDcancelConfirmation" class="hide" >
	<section class="cardPopup" >
		<h2>Leave this page?</h2>
		<button onclick="HideCancelConfirmation()" class="btn btnBig BGred" >No</button>
		<a href="/" class="btn btnBig BGgreen">Yes</a>
	</section>
</section>